[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
llama-index-core = "*"
llama-parse = "*"
llama-index-readers-file = "*"
python-dotenv = "*"
langchain-community = "*"
langchain-openai = "*"
pymupdf = "*"
pymupdf4llm = "*"
langchain-text-splitters = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
